@model  IEnumerable<PersonalDetail>

@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<div id="contentHeader">
    <h1>Contributions Management</h1>
</div> <!-- #contentHeader -->

<div class="container">

    <div class="grid-12">
        <div class="widget widget-table">
            @using (Html.BeginForm("SearchContributionByPlacementSide", "SuperAdmin", FormMethod.Post))
            {

                <div class="widget-header">
                    <span class="icon-list"></span>
                    <h3 class="icon chart">Check Contribution By Placement</h3>
                </div>

                <div class="widget-content">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Placement</th>
                                <th>
                                    @Html.DropDownList("placementSide", new SelectList(
                 new List<Object>{
                                                                                           new { value = "" , text = "--Select--" },
                                                                                           new { value = "LEFT" , text = "LEFT" },
                                                                                           new { value = "RIGHT", text = "RIGHT"}
                   },
                 "value",
                 "text",
                  2))
                                </th>
                            </tr>
                        </thead>

                    </table>

                </div> <!-- .widget-content -->

                <p align="center" style="margin-top:20px;">
                    <span>
                        <input type="submit" class="btn btn-large btn-blue" value="View" />
                    </span>



                </p>
            }
        </div>


        <div class="widget widget-table">
            @using (Html.BeginForm("SearchContributionByMemberId", "SuperAdmin", FormMethod.Post))
            {
                <div class="widget-header">
                    <span class="icon-list"></span>
                    <h3 class="icon chart">Check Contribution By Id</h3>
                </div>

                <div class="widget-content">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Member Id</th>
                                <th>
                                    @Html.TextBox("memberId")
                                </th>
                            </tr>
                        </thead>
                    </table>

                </div> <!-- .widget-content -->

                <p align="center" style="margin-top:20px;">
                    <span>
                        <input type="submit" class="btn btn-large btn-blue" value="View" />
                    </span>
                </p>
            }
        </div>

    </div>



    <div class="grid-12">
        <div class="widget widget-table">

            <div class="widget-header">
                <span class="icon-list"></span>
                <h3 class="icon chart">My Info</h3>
            </div>

            <div class="widget-content">

                <table class="table table-bordered table-striped">
                    <thead>

                        <tr>
                            <th>Sponser Id</th>
                            <th>@ViewBag.Sponsor</th>
                        </tr>
                        <tr>
                            <th>Sponser Name</th>
                            <th>@ViewBag.SponsorName</th>
                        </tr>
                        <tr>
                            <th>User Id</th>
                            <th>@ViewBag.UserName</th>


                        </tr>
                        <tr>
                            <th>Member Name</th>
                            <th>@ViewBag.FullName</th>


                        </tr>

                        <tr>
                            <th>Left</th>
                            <th>@ViewBag.LeftTeam</th>


                        </tr>
                        <tr>
                            <th>Right</th>
                            <th>@ViewBag.RightTeam</th>


                        </tr>
                        <tr>
                            <th>Directs</th>
                            <th>@ViewBag.DirectTeam</th>


                        </tr>
                    </thead>
                </table>
            </div> <!-- .widget-content -->

        </div>
    </div>

    <div class="grid-24">


        <div class="widget widget-table">

            <div class="widget-header">
                <span class="icon-list"></span>
                <h3 class="icon chart">Geneology</h3>
                <span style="float:right;">
                    @using (Html.BeginForm("ContributionPrint", "SuperAdmin", FormMethod.Post, new { id = "printForm", target = "_blank" }))
                    {
                        <input type="hidden" value="@ViewBag.ContributionSearchedPlacementSide" name="hdnContributionSearched" />
                            <h3>
                                <a href="javascript:document.getElementById('printForm').submit()" target="_blank"
                                   style="cursor:pointer;">Print Result</a>
                            </h3>
                    }
                </span>

            </div>

            <div class="widget-content">

                <table class="table table-bordered table-striped data-table">
                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Member Name</th>
                            <th>Placement</th>
                            <th>User Id</th>
                            <th>DOJ</th>
                            <th>Contact</th>
                            <th>Sponser Id</th>
                            <th>Last Contri.</th>
                            <th>Paid On</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.ToList().Count > 1)
                            {
                                var i = 1;
                                foreach (var itm in Model)
                                {

                                    <tr class="gradeA">
                                        <td>@i</td>
                                        <td>@itm.FirstName @itm.LastName</td>
                                        <td>
                                            @if (Convert.ToString(ViewBag.ContributionSearchedPlacementSide) == "LEFT")
                                            {
                                                <span>LEFT</span>
                                            }
                                            else if (Convert.ToString(ViewBag.ContributionSearchedPlacementSide) == "RIGHT")
                                            {
                                                <span>RIGHT</span>
                                            }
                                            else
                                            {
                                                <span>@itm.PlacementSide</span>
                                            }
                                           
                                        </td>
                                        <td>@itm.UsersDetail.UserName</td>
                                        <td>@Convert.ToDateTime(itm.JoinedOn).ToString("dd/MM/yyyy")</td>
                                        <td>@itm.PhoneNumber1</td>
                                        <td>
                                            @{
                                                if (itm.UsersDetail.UsersDetail1 != null)
                                                {
                                                    try
                                                    {
                                                        @itm.UsersDetail.UsersDetail1.UserName
                                                    }
                                                    catch
                                                    {
                                                        <span>NA</span>
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (itm.UsersDetail.ContributionDetails != null)
                                                {
                                                    try
                                                    {
                                                        @itm.UsersDetail.ContributionDetails.Where(x => x.UserDetailsId == itm.UsersDetail.Id).OrderByDescending(y => y.ContribDate).FirstOrDefault().ContribNumber
                                                                                    }
                                                    catch
                                                    {
                                                        <span>0</span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span>0</span>
                                                }
                                            }
                                        </td>
                                        <td class="center">
                                            @{
                                                if (itm.UsersDetail.ContributionDetails != null)
                                                {
                                                    try
                                                    {@Convert.ToDateTime(itm.UsersDetail.ContributionDetails
                                       .Where(x => x.UserDetailsId == itm.UsersDetail.Id)
                                       .OrderByDescending(y => y.ContribDate).FirstOrDefault().ContribDate).ToString("dd/MM/yyyy")
                                                    }
                                                    catch
                                                    {
                                                        <span>NA</span>
                                                    }

                                                }
                                                else
                                                {
                                                    <span>NA</span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                    i = i + 1;
                                }
                            }
                            else
                            {
                                var cnt = 1;
                                foreach (var itm in Model)
                                {
                                    var contribNumber = Convert.ToInt32(itm.UsersDetail.ContributionDetails.Where(x => x.UserDetailsId == itm.UsersDetail.Id).OrderByDescending(y => y.ContribDate).FirstOrDefault().ContribNumber);
                                    var contribDate = Convert.ToDateTime(itm.UsersDetail.ContributionDetails.Where(x => x.UserDetailsId == itm.UsersDetail.Id).OrderByDescending(y => y.ContribDate).FirstOrDefault().ContribDate);

                                    foreach (var contrib in itm.UsersDetail.ContributionDetails)
                                    {

                                        <tr class="gradeA">
                                            <td>@cnt</td>
                                            <td>@itm.FirstName @itm.LastName</td>
                                            <td>@itm.PlacementSide</td>
                                            <td>@itm.UsersDetail.UserName</td>
                                            <td>@Convert.ToDateTime(itm.JoinedOn).ToString("dd/MM/yyyy")</td>
                                            <td>@itm.PhoneNumber1</td>
                                            <td>@itm.UsersDetail.UsersDetail1.UserName</td>
                                            <td>@contrib.ContribNumber</td>
                                            <td class="center" style="color:lightgreen;">@Convert.ToDateTime(contrib.ContribDate).ToString("dd/MM/yyyy") </td>
                                        </tr>
                                        cnt = cnt + 1;
                                    }
                                    for (int i = contribNumber + 1; i <= 15; i++)
                                    {

                                        <tr class="gradeA">
                                            <td>@i</td>
                                            <td>@itm.FirstName @itm.LastName</td>
                                            <td>@itm.PlacementSide</td>
                                            <td>@itm.UsersDetail.UserName</td>
                                            <td>@Convert.ToDateTime(itm.JoinedOn).ToString("dd/MM/yyyy")</td>
                                            <td>@itm.PhoneNumber1</td>
                                            <td>@itm.UsersDetail.UsersDetail1.UserName</td>
                                            <td>@i</td>
                                            <td class="center" style="color:red;">
                                                20/@Convert.ToDateTime(contribDate.AddMonths(contribNumber)).ToString("MM")/@contribDate.AddMonths(contribNumber).Year
                                            </td>
                                        </tr>
                                        contribNumber = contribNumber + 1;
                                    }
                                }
                            }
                        }
                    </tbody>

                </table>
            </div> <!-- .widget-content -->

        </div> <!-- .widget-content -->

    </div>



</div>


